# Created by venv; see https://docs.python.org/3/library/venv.html
# Credentials
credentials.json
token.json
app_logs.json

# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log
 
 